hr {
  color: rgb(112, 170, 218);
  border-style: inset;
  border-width: 1px;
  margin: 0.5em auto;
  margin-left: 0;
  margin-right: 0;
  width: 90%;
}

p {
  color: #e9f2f1;
}

.bottom {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-options {
  display: flex;
}

.user-btn {
  display: flex;
  flex-direction: column;
  margin: auto 10px;
  align-items: center;
}
